.footer {
  background: #141414;

  span {
    display: block;
    padding-top: 150px;
    padding-bottom: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    span {
      padding-top: 165px;
      padding-bottom: 18px;
    }
  }
}