.header {
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
  padding: 35px 261px 29px;
  margin-bottom: 200px;

  &-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1450px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    &-wrapper {
      max-width: 1200px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    margin-bottom: 25px;
  }
}
