.section {
  padding-bottom: 160px;
  //   &--title {
  //     padding-top: 200px;
  //   }
}

@media screen and (max-width: 1200px) {
  .section {
    padding-bottom: 75px;
    &--title {
      h2 {
        font-size: 30px;
      }
    }
  }
}
