.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 160px;

  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      display: block;
      width: 320px;
      height: 489px;
      object-fit: cover;
    }
  }
  &--title{
    h2{
      padding-bottom: 123px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .swiper {
    margin-left: 100px;
    &-slide {
      img {
        width: 225px;
        height: 344px;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .swiper {

//   }
// }

@media screen and (max-width: 870px) {
  .swiper {
    margin-left: 50px;
    &-slide {
      width: 225px;
      height: 344px;
    }
  }
}

@media screen and (max-width: 760px) {
  .swiper {
    margin: 0;
    padding-left: 20px;
    
    &--title {
      padding: 0 20px;
      h2 {
        font-size: 24px;
        max-width: 60%;
        padding-bottom: 60px;
      }
    }
  }
}
