// FONT-FAMILY --------------------------

.typography--fontFamily-Manrope {
  font-family: "Manrope";
}
.typography--fontFamily-OrchideaPro {
  font-family: "Orchidea Pro";
}
.typography--fontFamily-Roboto {
  font-family: "Roboto";
}

// FONT-SIZE --------------------------

.typography--fontSize-48px {
  font-size: 48px;
}
.typography--fontSize-24px {
  font-size: 24px;
}
.typography--fontSize-14px {
  font-size: 14px;
}

// FONT-WEIGHT --------------------------

.typography--fontWeight-500 {
  font-weight: 500;
}
.typography--fontWeight-400 {
  font-weight: 400;
}

// LINE-HEIGHT --------------------------

.typography--lineHeight-130 {
  line-height: 130%;
}
.typography--lineHeight-110 {
  line-height: 110%;
}

.typography--lineHeight-33px {
  line-height: 33px;
}
.typography--lineHeight-16px {
  line-height: 16px;
}

// COLOR --------------------------

.typography--color-dark {
  color: 141414;
}
.typography--color-light {
  color: #ffffff;
}

// TEXT-TRANSFORM --------------------------

.typography--textTransform-uppercase {
  text-transform: uppercase;
}
